---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Condicciones de compra">
    <div class="font-nerko px-3 pt-5">
        <h1 class="text-4xl text-[#282829]">Condicciones de compra</h1>
        <div class="text-[#383838] pt-3 text-xl">
            <p>
                Para agendar cualquier detalle pedimos abono del 50% del valor
                total.
            </p>
            <p class="pt-3">
                No realizamos devolución del abono en caso que el cliente se
                retracte un día antes de la entrega.Por temas de coordinación
                pedimos agendar con un mínimo de 24 hrs de anticipación (según
                el detalle que requiera).
            </p>
            <p class="pt-3">
                Tenemos entregas a partir de las 15:00 hrs. en el centro de
                Ovalle y a partir de las 19:00 hrs. en domicilio parte alta,
                baja y otros sectores.
            </p>
            <p class="pt-3">
                Valor del delivery $2.000 (parte alta y baja) No cambiamos
                horarios de entrega, pedimos por favor respetar el horario de
                entrega y en caso de cambio consultar con anterioridad.
            </p>
            <p class="pt-3">Agradeciendo siempre su preferencia.</p>
        </div>
        <div class="pt-5">
            <img src="/logo.png" class="md:max-h-[27rem] md:min-h-[27rem]" />
        </div>
    </div>
</Layout>
