---

---

<footer
    class="bg-[#f23c3c] min-h-[5rem] mg-20 pb-8 md:pb-0 font-nerko text-xl mt-5"
>
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a class="flex z-50 items-center text-2xl uppercase gap-3" href="/">
                <img alt="logo" class="w-10" src="/logo.png" />
                <p class="text-white">Frutillita creaciones</p>
            </a><div>
                <div class="pt-3 flex gap-3 items-center">
                    <p class="text-white uppercase">
                        Síguenos en redes sociales
                    </p><a
                        target="_blank"
                        href="https://www.instagram.com/frutillitacreacl?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                        ><img
                            alt="Logo Instagram"
                            loading="lazy"
                            width="27"
                            height="27"
                            decoding="async"
                            data-nimg="1"
                            style="color:transparent"
                            src="/ig3.svg"
                            class="invert"
                        /></a
                    ><a
                        target="_blank"
                        href="https://www.facebook.com/p/FrutillitaDulcesCreaciones-100078083119719/"
                        ><img
                            alt="Logo Facebook"
                            loading="lazy"
                            width="27"
                            height="27"
                            decoding="async"
                            data-nimg="1"
                            style="color:transparent"
                            src="/face2.svg"
                            class="invert"
                        /></a
                    >
                </div>
            </div>
        </div><hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    </div>
</footer>
