---
console.log("header");
---

<header
    class="py-5 mx-auto max-x-xl lg:py-8 flex justify-center bg-[#F05252] text-white"
>
    <div class="">
        <a class="font-nerko text-2xl cursor-pointer" href="/"
            >Frutillita creaciones</a
        >
        <a>Icon</a>
    </div>
</header>
