---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
const text_whatsapp = import.meta.env.PUBLIC_TEXT_WHATSAPP as string;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="author" content="LP dev" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta
			name="description"
			content="Deléitate con nuestras exquisitas frutillas bañadas en chocolate de alta calidad. Perfectas para regalar o disfrutar en cualquier ocasión. ¡Haz tu pedido hoy y sorprende a tus seres queridos con el dulce sabor de nuestras creaciones personalizadas!"
		/>
		<meta name="generator" content={Astro.generator} />
		<meta
			name="keywords"
			content="frutillas, frutillas con chocolate, frutillas ovalle, ovalle,regalos, desayunos sorpresa"
		/>
		<meta property="og:title" content="Frutillita creaciones" />
		<meta
			property="og:image"
			content="https://frutillitas.vercel.app/logo.png"
		/>
		<meta property="og:type" content="website" />
		<meta http-equiv="Content-Language" content="es" />

		<title>{title}</title>
	</head>
	<body>
		<a
			target="__blank"
			href={`https://wa.me/998973623?text=Hola,${text_whatsapp}`}
			class="w-16 fixed bottom-4 right-4 z-50 cursor-pointer animation-pulse hover:opacity-80"
			><img src={"/whatsapp.png"} alt="btn_whatsapp" class="" /></a
		></body
	>
	<Header />
	<main class="pt-32">
		<slot />
	</main>
	<Footer />
</html>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
</style>
